.about{
    margin-top: 100px;
    background-color: #EBFFE9;
}
.about__title{
    text-align: center;
    padding-top: 60px;
}
.about__text{
    font-size: 20px;
    line-height: 154.69%;
    color: #424242;
    text-align: center;

    padding-top: 20px;
    padding-bottom: 60px;
}

.about__text span{
    font-weight: bold;
}

@media (max-width: 768px) {
    .about{
        margin-top: 70px;
    }
} 

@media (max-width: 425px) {
    .about{
        margin-top: 50px;
    }

    .about__text{
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 30px;
    }
} 