/*==================================
               Banner
====================================*/

.banner {
    display: block;
    margin-top: 80px;
    background: url('../img/banner.png') 66vw -50px/800px no-repeat, linear-gradient(99deg, #EBFFE9 59.53%, #FFFFFF 70%) 50% 50%/cover no-repeat;
    
}
.banner_container {
}

.banner__logo{
    height: 115px;
    margin-top: 80px;
}
.banner_title {
    padding-top: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #424242;
}
.banner_text {
    margin-top: 15px;
    font-size: 16px;
    color: #FFFFFF;
}
.banner_btn {
    display:inline-block;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;

    margin-top: 85px;
    margin-bottom: 100px;
    padding: 12px 15px;
    background-color: #65AE45;
    transition: all 0.15s ease-in;
    -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate ;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate ;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.banner_btn:hover {
    color: #65AE45;
    background-color: #ffffff;
}
@media (max-width: 1024px) {
    .banner {
        display: block;
        margin-top: 60px;
        background: url('../img/banner.png') 55vw -50px/800px no-repeat, linear-gradient(99deg, #EBFFE9 59.53%, #FFFFFF 70%) 50% 50%/cover no-repeat;
        
    }
    .banner_title {
        display: block;
        width: 500px;
    }    
    .banner_btn {
        margin-top: 60px;
        margin-bottom: 80px;
    }
} 
@media (max-width: 768px) {
    .banner {
        display: block;
        background: url('../img/banner.png') 60vw 8vw/75vw no-repeat, linear-gradient(99deg, #EBFFE9 59.53%, #FFFFFF 70%) 50% 50%/cover no-repeat;
        
    }
    .banner__logo{
        height: 90px;
        margin-top: 50px;

    }
    .banner_title {
        display: block;
        font-size: 30px;
        width: 400px;
    }    
    .banner_btn {
        margin-top: 60px;
        margin-bottom: 70px;
    }
} 
@media (max-width: 600px) {
    .banner {
        display: block;
        margin-top: 60px;
        background: linear-gradient(99deg, #ebffe900 59.53%, #ffffffc0 70%) 50% 50%/cover no-repeat, 
                    url('../img/banner.png') 60vw 8vw/450px no-repeat, 
                    linear-gradient(99deg, #EBFFE9 59.53%, #FFFFFF 70%) 50% 50%/cover no-repeat;
        
    }
    .banner__logo{
        height: 90px;
    }
    .banner_title {
        display: block;
        font-size: 30px;
        width: 400px;
    }    
    .banner_btn {
        margin-top: 60px;
        margin-bottom: 80px;
    }
} 
@media (max-width: 425px) {
    .banner {
        display: block;
        margin-top: 60px;
        background: linear-gradient(180deg, #ebffe900 40%, #ffffffc0 70%) 50% 50%/cover no-repeat, 
                    url('../img/banner.png') 0% 210px/450px no-repeat, 
                    linear-gradient(180deg, #EBFFE9 40%, #FFFFFF 70%) 50% 50%/cover no-repeat;
    }

    .banner_container {
        display: flex;
        flex-direction: column;
    }
    .banner__logo{
        margin: 0 auto;
        margin-top: 50px;
        height: 60px;
    }
    .banner_title {
        text-align: center;
        display: inline-block;
        font-size: 25px;
        width: 100%;
    }    
    .banner_btn {
        margin-top: 100px;
        margin-bottom: 60px;
        align-self: center;
        text-align: center;
        font-size: 16px;
        padding: 10px 12px;
    }
} 

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }