.calorie {
    margin-top: 100px;
}
@media (max-width: 768px){
    .calorie {
        margin-top: 70px;
    }
}
@media (max-width: 600px){
    .calorie {
        margin-top: 50px;
    }
}
.calorie_container {

}
.calorie_cards.col-3 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.calorie_cards.col-2 {
    display: none;
}

.col-3 .calorie_cards_col{
    flex: 0 1 33%;
    padding: 0 15px; 
}

.col-2 .calorie_cards_col{
    flex: 0 1 50%;
    padding: 0 15px; 
}

.calorie_cards_col:first-child{
    padding-left: 0; 
}
.calorie_cards_col:last-child{
    padding-right: 0; 
}
.calorie_card {
    max-width: 370px;
    box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
}
.calorie_card:first-child,
.col-2 .calorie_card:nth-child(2) {
    margin-bottom: 30px;
}


.calorie_card_top {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.calorie_card_img {
    max-width: 100%;

    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.calorie_value {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;

    color: #ffffff;
    background-color: #65AE45;
    padding: 7px 13px;

    font-weight: 500;
    font-size: 30px;
}
.calorie_value_L {
    font-weight: 300;
    font-size: 25px;
}
.calorie_card_content {
    padding: 20px 30px 0px 30px;

    max-height: 90px;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}

.full_card .calorie_card_content {
    padding: 20px 30px 75px 30px;

    overflow: auto;
    max-height: 500px;
    animation: 0.5s delay-overflow;
}

@keyframes delay-overflow {
    from { overflow: auto; }
  }

.calorie_text {
    font-size: 20px;
    line-height: 115%;

    color: #424242;

}
.calorie_info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 250px;

}
.calorie_info_element {
    text-align: center;
}
.main_info_text {
    font-weight: 500;
    font-size: 30px;

    color: #65AE45;
}
.info_text {
    font-weight: 300;
    font-size: 14px;

    color: #424242;
}
.calorie_card_line {
    margin-top: 20px;
    height: 1px;
    width: 100%;
    background-color: #424242;
}
.calorie_price {
    margin-top: 20px;
    font-size: 23px;

    color: #424242;
}
.calorie_price span{
    font-weight: bold;
    color: #65AE45;
}
.calorie_card_bottom{
    
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.78) 40.63%, #FFFFFF 100%);
    
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

    position: absolute;
    bottom: 0;
}
.full_btn {
    cursor: pointer;
    width: 60px;
    padding: 15px 0 12px 0;
    display: flex;
    justify-content: center;
    
    background-color: #65AE45;
}
.full_btn svg{
    transition: all 0.5s ease 0s;
    transform: scale(1, -1)
}
.full_card .full_btn svg{
    transform: scale(-1, 1)
}
.calorie_card_bottom_line{
    width: 100%;
    height: 3px;
    background-color: #65AE45;
}
.full_btn:hover.full_btn svg path{   
    stroke: #d3d3d3;
}

@media (max-width:1024px){
    .calorie_cards.col-3 {
        margin-top: 3.91vw;
    }
    
    .calorie_cards_col{
        padding: 0 1.46vw; 
    }
    .calorie_card {
        max-width: 36.13vw;
        box-shadow: 0px 0px 2.44vw 0.59vw rgba(0, 0, 0, 0.1);
        position: relative;
    }
    .calorie_card:first-child {
        margin-bottom: 4.88vw;
    }  
    
    .calorie_card_top {
        height: 24.41vw;
    }
    .calorie_value {
        top: 1.46vw;
        left: 1.46vw;
        padding: 0.68vw 1.27vw;
        font-size: 2.93vw;
    }
    .calorie_value_L {
        font-size: 2.44vw;
    }
    .calorie_card_content {
        padding: 1.95vw 2.93vw 0px 2.93vw;
    
        max-height: 8.79vw;
    }
    
    .full_card .calorie_card_content {
        padding: 1.95vw 2.93vw 7.32vw 2.93vw;
    
        max-height: 48.83vw;
    }
    
    .calorie_text {
        font-size: 1.95vw;    
    }
    .calorie_info {
        margin-top: 1.95vw;
        max-width: 24.4vw;
    
    }
    .main_info_text {
        font-size: 2.93vw;
    }
    .info_text {
        font-size: 1.37vw;
    }
    .calorie_card_line {
        margin-top: 1.95vw;
    }
    .calorie_price {
        margin-top: 1.95vw;
        font-size: 2.44vw;
    
    }
    .calorie_card_bottom{
        height: 6.84vw;
    }
    .full_btn {
        width: 5.86vw;
        padding: 1.46vw 0 1.17vw 0;
    }
    .calorie_card_bottom_line{
        height: 0.29vw;
    }
    
}
@media (max-width:768px ){
    .calorie_cards.col-3 {
        display: none;
    }
    .calorie_cards.col-2 {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }        
    .calorie_cards_col{
        padding: 0 15px; 
    }
    .calorie_card {
        max-width: 320px;
        box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.1);

        position: relative;
    }
    
    .calorie_card_top {
        height: 200px;
    }
    .calorie_card_img {
        max-width: 100%;
    }
    .calorie_value {
        top: 10px;
        left: 10px;
        padding: 7px 13px;
        font-size: 30px;
    }
    .calorie_value_L {
        font-size: 25px;
    }
    .calorie_card_content {
        padding: 15px 15px 0px 15px;
    
        max-height: 90px;
    }
    
    .full_card .calorie_card_content {
        padding: 15px 15px 75px 15px;
    
        max-height: 500px;
    }
    
    .calorie_text {
        font-size: 18px;    
    }
    .calorie_info {
        margin-top: 18px;
        max-width: 250px;
    
    }
    .main_info_text {
        font-size: 28px;
    }
    .info_text {
        font-size: 13px;
    }
    .calorie_card_line {
        margin-top: 18px;
    }
    .calorie_price {
        margin-top: 18px;
        font-size: 23px;
    }

    .calorie_card_bottom{
        height: 70px;
    }
    .full_btn {
        width: 60px;
        padding: 13px 0 10px 0;
    }
}

@media (max-width: 600px ){
    .calorie_cards.col-2 {
        margin-top: 5vw; /* 40 - 6.67vw */
    }    
    
    .calorie_cards_col{
        padding: 0 2.50vw; 
    }
    .calorie_card {
        max-width: 53.33vw;
        box-shadow: 0px 0px 4.17vw 1vw rgba(0, 0, 0, 0.1);

        position: relative;
    }
    
    .calorie_card_top {
        height: 33.33vw;
    }
    .calorie_value {
        top: 1.67vw;
        left: 1.67vw;
        padding: 1.17vw 2.17vw;
        font-size: 5vw;
    }
    .calorie_value_L {
        font-size: 4.17vw;
    }
    .calorie_card_content {
        padding: 2.50vw 2.50vw 0px 2.50vw;
    
        max-height: 15vw;
    }
    
    .full_card .calorie_card_content {
        padding: 2.50vw 2.50vw 12.50vw 2.50vw;
    
        max-height: 100vw;
    }
    
    .calorie_text {
        font-size: 3vw;    
    }
    .calorie_info {
        margin-top: 3vw;
        max-width: 41.67vw;
    
    }
    .main_info_text {
        font-size: 4.67vw;
    }
    .info_text {
        font-size: 2.17vw;
    }
    .calorie_card_line {
        margin-top: 3vw;
    }
    .calorie_price {
        margin-top: 3vw;
        font-size: 3.83vw;
    }

    .calorie_card_bottom{
        height: 11.67vw;
    }
    
    .full_btn {
        width: 10vw;
        padding: 2.17vw 0 1.67vw 0;
    }
    .full_btn svg{
        height: 2.83vw;
    }
}

@media (max-width: 320px){
    .calorie_cards.col-2{
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .col-2 .calorie_cards_col{
        flex: 0 1 100%;
        padding: 0 0; 
    }
    .calorie_card {
        max-width: 370px;
        box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
    }
    .calorie_card:first-child {
        margin-bottom: 30px;
    }  

    .last_card {
        margin-bottom: 0px;
    }  
    
    .calorie_card_top {
        height: 200px;
    }
    .calorie_value {
        top: 10px;
        left: 10px;
        padding: 7px 13px;
        font-size: 25px;
    }
    .calorie_value_L {
        font-size: 23px;
    }
    .calorie_card_content {
        padding: 20px 20px 0px 20px;
    
        max-height: 90px;
    }
    
    .full_card .calorie_card_content {
        padding: 20px 20px 75px 20px;
    
        max-height: 500px;
    }
    
    .calorie_text {
        font-size: 17px;    
    }
    .calorie_info {
        margin-top: 17px;
        max-width: 250px;
    
    }
    .main_info_text {
        font-size: 25px;
    }
    .info_text {
        font-size: 12px;
    }
    .calorie_card_line {
        margin-top: 17px;
    }
    .calorie_price {
        margin-top: 17px;
        font-size: 22px;
    
    }
    .calorie_card_bottom{
        height: 70px;
    }
    .full_btn {
        width: 60px;
        padding: 15px 0 12px 0;
    }
    .calorie_card_bottom_line{
        height: 3px;
    }
}