.header {
    background: #424242;
    box-shadow: 0px 3px 30px 2px rgba(0, 0, 0, 0.4);
    
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
}
.headder_container{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo{
    height: 45px;
}
.header_links {
    display: flex;
    align-items: center;
}
.link_item li{
    display: inline;
}
.link_items {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;

    margin-right: 40px;
}
.link_items:hover {
    text-decoration-line: underline;

}
.social_element {
    margin-left: 10px;
    text-decoration: none;
}
.social_element circle, path {
    transition: all 0.15s ease-in;
}
.social_element:hover circle {
    fill: #ffffff;
}

.social_element:hover path {
    fill: #65AE45;
}

@media (max-width: 1024px) {
    .link_items {    
        margin-right: 30px;
    }
    .social_element {
        margin-left: 8px;
    }
} 
@media (max-width: 768px) {
    .headder_container{
        height: 60px;
    }
    .header_logo{
        height: 40px;
    }
} 



.header_burger,
.burger__userpanel,
.burger_main,
.burger-btn{
    display: none;
}
@media (max-width: 768px) {
    .header_links {
        display: none;
    }
    .header_home{
        margin-right: 0;
    }

    .burger-btn{
        z-index: 5;
        height: 20px;
        width: 30px;

        cursor: pointer;
        display: block;
        padding: 15px;
        padding-right: 0;
    }
    .burger-btn.active{

        padding: 15px;
        padding-right: 0;
    }
    .header_burger{
        display: block;
        position: relative;
        width: 24px;
        height: 18px;
    }
    .header_burger span{
        background-color: #ffffff;
        position:absolute;
        border-radius: 2px;
        left: 0;
        top: 8px;
        width: 100%;
        height: 2px;
        z-index: 4;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before,
    .header_burger:after{
        content: '';
        background-color: #ffffff;
        border-radius: 2px;
        position:absolute;
        width: 100%;
        height: 2px;
        z-index: 4;
        transition: all 0.3s ease 0s;
    }

    .active span{
            background-color: #ffffff;
        
    }
    .active:before,
    .active:after{
            content: '';
            background-color: #ffffff;
        }
    .header_burger.active:before{
        transform: rotate(45deg);
        top: 8px;
    }
    .header_burger.active:after{
        transform: rotate(-45deg);
        bottom: 8px;
    }
    .header_burger.active span{
        transform: scale(0);
    }
    .header_burger:before{
        top: 0;
    }
    .header_burger:after{
        bottom: 0;
    }

    .burger_main a{
        text-decoration: none;
        color: #ffffff;
    }
    .burger_main{
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: #424242;
        z-index: 3;
        transition: all 0.2s ease 0s;
    }
    .burger_main.active {
        right: 0;
    }
    .burger_menu{
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .burger_logo{
        margin: 25px 0 45px 0;
    }
    .burger_links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar_item{
        margin-bottom: 20px;
    }
}