html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
    scroll-behavior: smooth;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img, video {
    max-width: none;
    height: auto;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 7%;
}
.anchor{
    position: relative;
    visibility: hidden;
}
@media (max-width: 1024px) {
    .wrapper{
        padding: 0 4%;
    }
}
@media (max-width: 768px) {
    .wrapper{
        padding: 0 30px;
    }
}  
@media (max-width: 425px) {
    .wrapper{
        padding: 0 20px;
    }
} 

.section_name {
    font-weight: 500;
    font-size: 42px;
    color: #65AE45;
}
@media (max-width: 425px) {
    .section_name {
        font-size: 30px;
    }
} 

.main_btn{
    max-width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 25px 0;
    /* border-radius: 5px; */

    background-color: #65AE45;
    color: white;
    text-align: center;
    cursor: pointer;

    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    transition: all 0.10s ease-in;
    
    -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate ;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate ;
}

.main_btn:hover{
    background-color: #529435;
    color: rgb(255, 255, 255);
}


@media (max-width: 768px) {
    .main_btn{
        margin-top: 70px;
    }
} 

@media (max-width: 425px) {
    .main_btn{
        max-width: 250px;
        margin-top: 50px;
        padding: 25px;

        font-size: 22px;
    }
} 