.video_block {
    margin-top: 100px;

    margin-bottom: 100px;
}
.video_block_container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.video_frame {
    display: block;
    flex: 0 1 70%;
    height: 450px;
}
.video_block_description {
    margin-left: 20px;
    flex: 0 1 30%;

    padding: 30px;
    border: 3px solid #424242;
}
.video_description_title {
    font-weight: 500;
    font-size: 36px;
    line-height: 116%;

    color: #65AE45;

}
.video_text {
    margin-top: 20px;

    font-size: 18px;
    line-height: 133%;

    color: #424242;
}

@media (max-width:1024px) {
    .video_block_container {
        margin-top: 3.91vw;
    }
    .video_frame {
        flex: 0 1 65%;
        height: 39.063vw;
        
    }
    .video_block_description {
        margin-left: 1.953vw;
        flex: 0 1 35%;
    
        padding: 2.930vw;
    }
    .video_description_title {
        font-size: 3.516vw;
    }
    .video_text {
        margin-top: 1.953vw;
    
        font-size: 1.758vw;
    }
}

@media (max-width: 768px) {
    .video_block {
        margin-top: 70px;
    
    }
    .video_block_container {
        margin-top: 30px;
        flex-wrap: wrap;
    }
    .video_frame {
        flex: 0 1 100%;
        height: 51vw;
        
    }
    .video_block_description {
        margin-top: 20px;
        margin-left: 0px;
        flex: 0 1 100%;
    
        padding: 20px;
    }
    .video_description_title {
        font-size: 30px;
    }
    .video_text {
        margin-top: 15px;
    
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .video_frame {
        width: 100px;
    }
    .video_block_container {
        margin-top: 30px;
    }
    .video_block_description {
        margin-top: 20px;
        margin-left: 0px;
        flex: 0 1 100%;
    
        padding: 20px;
    }
    .video_description_title {
        font-size: 25px;
    }
    .video_text {
        margin-top: 10px;
    
        font-size: 14px;
    }
}