.whyUs {
    margin-top: 80px;
}
@media (max-width: 768px){
    .whyUs {
        margin-top: 50px;
    }
}
@media (max-width: 600px){
    .whyUs {
        margin-top: 30px;
    }
}
.whyUs_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whyUs_title {
    position: relative;
    top: 22px;
    background-color: #ffffff;
    padding: 0 12px;
}
.whyUs_items {
    width: 100%;
    border: 3px solid #424242;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding-bottom: 65px;
}
.whyUs_item {
    margin: 0 20px;
    margin-top: 65px;
    flex: 0 1 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.whyUs_item svg{
    transform: scale(1.2);
}

.whyUs_item_title {
    font-weight: 500;
    font-size: 19px;
    color: #424242;
    text-align: center;

    margin-top: 30px;
}

.whyUs_item_text {
    width: 168px;
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #424242;

    margin-top: 15px;
}


@media (max-width: 1024px) {
    .whyUs_items {
        padding: 6vw 0;
    }
    .whyUs_item_icon{
        transform: scale(0.85);
    }
    .whyUs_item_title {
        font-size: 1.8vw;
    
        margin-top: 3vw;
    }
    
    .whyUs_item_text {
        width: 16.4vw;
        font-size: 1.4vw;
        line-height: 1.7vw;
    
        margin-top: 1.4vw;
    }
} 
@media (max-width: 768px) {
    .whyUs_items {
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 0;
    }
    .whyUs_item {
        flex: 0 1 30%;
        margin-left: 30px;
        margin-right: 30px;
    }
    .whyUs_item_icon{
        transform: scale(1);
    }
    .whyUs_item_title {
        font-size: 19px;
        margin-top: 30px;
    }
    
    .whyUs_item_text {
        width: 168px;
        font-size: 15px;
        line-height: 18px;
        margin-top: 15px;
    }

    .whyUs_item:nth-child(3),
    .whyUs_item:nth-child(4) {
        margin-top: 50px;
    }
} 
@media (max-width: 600px) {
    .whyUs_items {
        flex-wrap: wrap;
    }
    .whyUs_item {
        flex: 0 1 40%;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .whyUs_item_icon{
        height: 16vw;
    }
    .whyUs_item_title {
        font-size: 3vw;
        margin-top: 5vw;
    }
    
    .whyUs_item_text {
        width: 28vw;
        font-size: 2.5vw;
        line-height: 3vw;
        margin-top: 2.5vw;
    }

    .whyUs_item:nth-child(3),
    .whyUs_item:nth-child(4) {
        margin-top: 8vw;
    }
}

@media (max-width: 425px) {

    .whyUs_title {
        top: 15px;
        padding: 0 10px;
    }

    .whyUs_items {
        flex-wrap: wrap;
        padding-bottom: 50px;
        justify-content: space-around;
    }
    .whyUs_item {
        margin-top: 55px;
        margin-left: 0;
        margin-right: 0;
        flex: 0 1 45%;
    }
    .whyUs_item_icon{
        height: 60px;
    }
    .whyUs_item_title {
        font-size: 12px;
        margin-top: 21px;
    }
    
    .whyUs_item_text {
        width: 118px;
        font-size: 10px;
        line-height: 12px;
        margin-top: 10px;
    }

    .whyUs_item:nth-child(3),
    .whyUs_item:nth-child(4) {
        margin-top: 50px;
    }
}
@media (max-width: 320px) {
    .whyUs_items {
        flex-wrap: wrap;
        padding-bottom: 50px;
    }
    .whyUs_item{
        margin-top: 50px;
    }
    .whyUs_item_title {
        font-size: 19px;    
        margin-top: 30px;
    }
    
    .whyUs_item_icon{
        height: 80px;
    }
    .whyUs_item_text {
        width: 168px;
        font-size: 15px;
        line-height: 18px;    
        margin-top: 15px;
    }
    .whyUs_item:nth-child(3),
    .whyUs_item:nth-child(4){
        margin-top: 50px;
    }
    .whyUs_item {
        flex: 0 1 100%;
    }

}

@media (max-width: 300px) {
    .whyUs_title {
        font-size: 10vw;
        top: 5vw;
        padding: 0 3vw;
    }
}